
@keyframes :global(slideInFromLeft) {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.openButton{
    color:white;
    margin: 20px 20px;
    background-color: transparent;
    height: 40px;
    width: 60px;
    cursor: pointer;
    border: none;
}

.navbar{
    overflow: hidden;
    background-color: #14151a;
    padding: 10px 10px;
    animation: 1.5s ease-out 0s 1 slideInFromLeft;

    .content{
        padding: 10px 60px;
    }

    a.logo{
        font-size: 30px;
        color: #feeba6;
        font-family: "Diversa", sans-serif;
        float:left;
    }

    a, span{
        float: left;
        color: white;
        padding: 12px 15px;
        text-decoration: none;
        font-size: 20px;
        line-height: 15px;
        font-family: "Britanica-Black", sans-serif;

        &:after{
            display: block;
            content: '';
            margin-top: 5px;
            border-bottom: solid 2px #feeba6;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
        }

        &:hover:after{
            transform: scaleX(1);
        }
    }

    .header-items{
        float:right;
    }
}

@media only screen and (max-width: 853px) {

    .header-items{
        display: none;
    }

    .content {
        span {
            visibility: visible;
        }
    }

}

span{
    visibility: hidden;
    cursor: pointer;
}


/*........... Mobile navbar styling ..............*/

.mobile-navbar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;

    .mobile-navbar-items {
        position: relative;
        top: 20%;
        width: 100%;
        display: grid;
        place-items: center;
    }

    a{
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: white;
        display: block;
        transition: 0.3s;
        font-family: "Britanica-Black", sans-serif;
    }

    .close-navbar-button {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;

        &:hover {
            color: #feeba6;
            cursor: pointer;
        }
    }
}